* {
    box-sizing: border-box;

    margin: 0;

    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: Arial, sans-serif;

    background: #f4f4f4;

    padding: 20px;
}

.container {
    width: 450px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;

    color: gray;
}

input {
    width: 100%;

    padding: 14px;

    font-size: 16px;

    border: 1px solid #ddd;

    border-radius: 10px;

    margin-bottom: 15px;
}

button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

    margin-top: 10px;
}

#qrContainer {
    margin-top: 30px;
}

canvas {
    max-width: 100%;
}

.hidden {
    display: none;
}